@import url(semana.css);
h1 {
    font-size: 30px;
    color: aliceblue;
    padding: 15px;
}
h2{
    font-size: 25px;
}

.logo{
    width: 150px;
    height: 150px;
    padding: 8px;
}
form{
    display: flex;
    justify-content: center;
    padding: 15px 0px;
}
input{
    margin-left: 5px;
}
label{
    padding-top: 2px;
}
header{
    background: rgb(38,111,9);
    background: linear-gradient(180deg, rgba(38,111,9,1) 0%, rgba(49,140,12,1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

