{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=devide-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/reset.css' %}">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <title>UfabcGrade</title>
</head>
<body>
    <header class="cabecalho">
        <h1>Montador de Grades </h1>
        <img class="logo" src="{% static 'img/logo.png' %}" alt="logo UFABC">
    </header>
    <form method="get">
        <label for="ra">Insira o seu RA:</label>
        <input id="ra" name= 'ra'type="text" required>
        <button> buscar </button>
    </form>
    <h2 class="semana_atual">Estamos na {{semana}}</h2>
    <section class="semana1">
        <h2 class="semana1__titulo">Semana 1</h2>
        <table>
            <thead>
                <tr>
                    <th class="cell__horario"></th>
                    <th class="cell__dia">Seg</th>
                    <th class="cell__dia">Ter</th>
                    <th class="cell__dia">Qua</th>
                    <th class="cell__dia">Qui</th>
                    <th class="cell__dia">Sex</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="cell__horario-linha">08:00 - 10:00</td>
                    <td style="background-color: {{q1segunda_8cor}};">{{ q1segunda_8 }}</td>
                    <td style="background-color: {{q1terça_8cor}};">{{ q1terça_8 }}</td>
                    <td style="background-color: {{q1quarta_8cor}};">{{ q1quarta_8 }}</td>
                    <td style="background-color: {{q1quinta_8cor}};">{{ q1quinta_8 }}</td>
                    <td style="background-color: {{q1sexta_8cor}};">{{ q1sexta_8 }}</td>
                </tr>
                <tr>
                    <td class="cell__horario-linha">10:00 - 12:00</td>
                    <td style="background-color: {{q1segunda_10cor}};">{{ q1segunda_10 }}</td>
                    <td style="background-color: {{q1terça_10cor}};">{{ q1terça_10 }}</td>
                    <td style="background-color: {{q1quarta_10cor}};">{{ q1quarta_10 }}</td>
                    <td style="background-color: {{q1quinta_10cor}};">{{ q1quinta_10 }}</td>
                    <td style="background-color: {{q1sexta_10cor}};">{{ q1sexta_10 }}</td>
                </tr>
                <tr>
                    <td class="cell__horario-linha">12:00 - 14:00</td>
                    <td style="background-color: {{q1segunda_12cor}};">{{ q1segunda_12 }}</td>
                    <td style="background-color: {{q1terça_12cor}};">{{ q1terça_12 }}</td>
                    <td style="background-color: {{q1quarta_12cor}};">{{ q1quarta_12 }}</td>
                    <td style="background-color: {{q1quinta_12cor}};">{{ q1quinta_12 }}</td>
                    <td style="background-color: {{q1sexta_12cor}};">{{ q1sexta_12 }}</td>
                </tr>
                <tr>
                    <td class="cell__horario-linha">14:00 - 16:00</td>
                    <td style="background-color: {{q1segunda_14cor}};">{{ q1segunda_14 }}</td>
                    <td style="background-color: {{q1terça_14cor}};">{{ q1terça_14 }}</td>
                    <td style="background-color: {{q1quarta_14cor}};">{{ q1quarta_14 }}</td>
                    <td style="background-color: {{q1quinta_14cor}};">{{ q1quinta_14 }}</td>
                    <td style="background-color: {{q1sexta_14cor}};">{{ q1sexta_14 }}</td>
                </tr>
                <tr>
                    <td class="cell__horario-linha">16:00 - 18:00</td>
                    <td style="background-color: {{q1segunda_16cor}};">{{ q1segunda_16 }}</td>
                    <td style="background-color: {{q1terça_16cor}};">{{ q1terça_16 }}</td>
                    <td style="background-color: {{q1quarta_16cor}};">{{ q1quarta_16 }}</td>
                    <td style="background-color: {{q1quinta_16cor}};">{{ q1quinta_16 }}</td>
                    <td style="background-color: {{q1sexta_16cor}};">{{ q1sexta_16 }}</td>
                <tr>
                    <td class="cell__horario-linha">18:00 - 19:00</td>
                    <td style="background-color: {{q1segunda_18cor}};">{{ q1segunda_18 }}</td>
                    <td style="background-color: {{q1terça_18cor}};">{{ q1terça_18 }}</td>
                    <td style="background-color: {{q1quarta_18cor}};">{{ q1quarta_18 }}</td>
                    <td style="background-color: {{q1quinta_18cor}};">{{ q1quinta_18 }}</td>
                    <td style="background-color: {{q1sexta_18cor}};">{{ q1sexta_18 }}</td>
                <tr>
                    <td class="cell__horario-linha">19:00 - 21:00</td>
                    <td style="background-color: {{q1segunda_19cor}};">{{ q1segunda_19 }}</td>
                    <td style="background-color: {{q1terça_19cor}};">{{ q1terça_19 }}</td>
                    <td style="background-color: {{q1quarta_19cor}};">{{ q1quarta_19 }}</td>
                    <td style="background-color: {{q1quinta_19cor}};">{{ q1quinta_19 }}</td>
                    <td style="background-color: {{q1sexta_19cor}};">{{ q1sexta_19 }}</td>
                </tr>
                <tr>
                    <td class="cell__horario-linha">21:00 - 23:00</td>
                    <td style="background-color: {{q1segunda_21cor}};">{{ q1segunda_21 }}</td>
                    <td style="background-color: {{q1terça_21cor}};">{{ q1terça_21 }}</td>
                    <td style="background-color: {{q1quarta_21cor}};">{{ q1quarta_21 }}</td>
                    <td style="background-color: {{q1quinta_21cor}};">{{ q1quinta_21 }}</td>
                    <td style="background-color: {{q1sexta_21cor}};">{{ q1sexta_21 }}</td>
                </tr>
            </tbody>
        </table>
    </section>
    <section class="semana2">
        <h2 class="semana2__titulo">Semana 2</h2>
        <table>
            <thead>
                <tr>
                    <th class="cell__horario"></th>
                    <th class="cell__dia">Seg</th>
                    <th class="cell__dia">Ter</th>
                    <th class="cell__dia">Qua</th>
                    <th class="cell__dia">Qui</th>
                    <th class="cell__dia">Sex</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="cell__horario-linha">08:00 - 10:00</td>
                    <td style="background-color: {{q2segunda_8cor}};">{{ q2segunda_8 }}</td>
                    <td style="background-color: {{q2terça_8cor}};">{{ q2terça_8 }}</td>
                    <td style="background-color: {{q2quarta_8cor}};">{{ q2quarta_8 }}</td>
                    <td style="background-color: {{q2quinta_8cor}};">{{ q2quinta_8 }}</td>
                    <td style="background-color: {{q2sexta_8cor}};">{{ q2sexta_8 }}</td>
                </tr>
                <tr>
                    <td class="cell__horario-linha1">10:00 - 12:00</td>
                    <td style="background-color: {{q2segunda_10cor}};">{{ q2segunda_10 }}</td>
                    <td style="background-color: {{q2terça_10cor}};">{{ q2terça_10 }}</td>
                    <td style="background-color: {{q2quarta_10cor}};">{{ q2quarta_10 }}</td>
                    <td style="background-color: {{q2quinta_10cor}};">{{ q2quinta_10 }}</td>
                    <td style="background-color: {{q2sexta_10cor}};">{{ q2sexta_10 }}</td>
                </tr>
                <tr>
                    <td class="cell__horario-linha">12:00 - 14:00</td>
                    <td style="background-color: {{q2segunda_12cor}};">{{ q2segunda_12 }}</td>
                    <td style="background-color: {{q2terça_12cor}};">{{ q2terça_12 }}</td>
                    <td style="background-color: {{q2quarta_12cor}};">{{ q2quarta_12 }}</td>
                    <td style="background-color: {{q2quinta_12cor}};">{{ q2quinta_12 }}</td>
                    <td style="background-color: {{q2sexta_12cor}};">{{ q2sexta_12 }}</td>
                </tr>
                <tr>
                    <td class="cell__horario-linha1">14:00 - 16:00</td>
                    <td style="background-color: {{q2segunda_14cor}};">{{ q2segunda_14 }}</td>
                    <td style="background-color: {{q2terça_14cor}};">{{ q2terça_14 }}</td>
                    <td style="background-color: {{q2quarta_14cor}};">{{ q2quarta_14 }}</td>
                    <td style="background-color: {{q2quinta_14cor}};">{{ q2quinta_14 }}</td>
                    <td style="background-color: {{q2sexta_14cor}};">{{ q2sexta_14 }}</td>
                </tr>
                <tr>
                    <td class="cell__horario-linha">16:00 - 18:00</td>
                    <td style="background-color: {{q2segunda_16cor}};">{{ q2segunda_16 }}</td>
                    <td style="background-color: {{q2terça_16cor}};">{{ q2terça_16 }}</td>
                    <td style="background-color: {{q2quarta_16cor}};">{{ q2quarta_16 }}</td>
                    <td style="background-color: {{q2quinta_16cor}};">{{ q2quinta_16 }}</td>
                    <td style="background-color: {{q2sexta_16cor}};">{{ q2sexta_16 }}</td>
                </tr>
                <tr>
                    <td class="cell__horario-linha1">18:00 - 19:00</td>
                    <td style="background-color: {{q2segunda_18cor}};">{{ q2segunda_18 }}</td>
                    <td style="background-color: {{q2terça_18cor}};">{{ q2terça_18 }}</td>
                    <td style="background-color: {{q2quarta_18cor}};">{{ q2quarta_18 }}</td>
                    <td style="background-color: {{q2quinta_18cor}};">{{ q2quinta_18 }}</td>
                    <td style="background-color: {{q2sexta_18cor}};">{{ q2sexta_18 }}</td>
                </tr>
                <tr>
                    <td class="cell__horario-linha">19:00 - 21:00</td>
                    <td style="background-color: {{q2segunda_19cor}};">{{ q2segunda_19 }}</td>
                    <td style="background-color: {{q2terça_19cor}};">{{ q2terça_19 }}</td>
                    <td style="background-color: {{q2quarta_19cor}};">{{ q2quarta_19 }}</td>
                    <td style="background-color: {{q2quinta_19cor}};">{{ q2quinta_19 }}</td>
                    <td style="background-color: {{q2sexta_19cor}};">{{ q2sexta_19 }}</td>
                </tr>
                <tr>
                    <td class="cell__horario-linha1">21:00 - 23:00</td>
                    <td style="background-color: {{q2segunda_21cor}};">{{ q2segunda_21 }}</td>
                    <td style="background-color: {{q2terça_21cor}};">{{ q2terça_21 }}</td>
                    <td style="background-color: {{q2quarta_21cor}};">{{ q2quarta_21 }}</td>
                    <td style="background-color: {{q2quinta_21cor}};">{{ q2quinta_21 }}</td>
                    <td style="background-color: {{q2sexta_21cor}};">{{ q2sexta_21 }}</td>
                </tr>
            </tbody>
        </table>
    </section>
    <section class="solicitacoes">
        <p class="texto">{{ num_visits }} <br>solicitações</p>
    </section>
    <div class="atualizacoes">
        <p>Proximas Atualizações</p>
        <ul>
            <li>Adicionar aulas de Sabado</li>
            <li>Ajustar todas as aulas com duração de 3horas</li>
            <li>Solução para materias trancadas</li>
        </ul>
    </div>

    <div class="card">
        <div class="icon">
            <img  src="{% static 'img/iconwhats.png' %}" alt="logo whatsapp">
        </div>
        <a href="https://api.whatsapp.com/send?text=Olá, gostaria de falar sobre o projeto 'Minha Grade - UFABC'&phone=5511997988776">Clique para contato</a>
        <div class="card__text">
            Desenvolvido por<br>
            <span style="--i:10">J</span>
            <span style="--i:11">I</span>
            <span style="--i:12">H</span>
            <span style="--i:13">A</span>
            <span style="--i:14">D</span>
            <span style="--i:1"> </span>
            <span style="--i:17">R</span>
            <span style="--i:18">A</span>
            <span style="--i:19">H</span>
            <span style="--i:20">M</span>
            <span style="--i:21">A</span>
            <span style="--i:22">N</span>
        </div>

</body>
</html>